body {
    margin: 0;
    font-family: Arial;
    background: #f1f3f4;
}

.header {
    background: #1a73e8;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 22px;
}

#chatBox {
    height: 75vh;
    overflow-y: scroll;
    padding: 15px;
}

.message {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.country {
    font-size: 12px;
    color: gray;
}

.inputArea {
    display: flex;
    background: white;
    padding: 10px;
}

.inputArea input {
    flex: 1;
    margin-right: 5px;
    padding: 8px;
}

button {
    background: #1a73e8;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
